.mailchimp-commerce h2 {
	font-size: 20px;
	margin-bottom: 5px;
}

.mailchimp-commerce .setting-group {
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
	border: 1px solid #ececec;
    background-color: #f9f9f9;
}